/*-------------
TOP
--------------*/

/* == 以下、各セクション == */
.home{
  padding-top: 100px;
}

/* Works */
.worksContainer{
  @include lg{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.worksBox{
  box-shadow: $shadow;
  &__text{
    padding: 20px;
  }
  &__title{
    font-weight: bold;
    font-size: $sp-small-title;
  }
  &__copy{
    margin-top: 10px;
  }
  @include lg {
    display: flex;
  }
}

.worksBox__item{
  @include md{
    margin-top: 40px;
  }
  @include lg{
    display: flex;
    flex-direction: column;
    width: 350px;
  }
}

.worksBox:not(:last-of-type){
  @include sm{
    margin-bottom: 40px;
  }
}

.worksLinkBtn{
  display: flex;
  justify-content: space-between;
  padding: 0 20px 20px;
  margin-top: auto;
  &__btn{
    width: 45%;
  }
}

.worksLinkBtn .btn__link{
  padding: 5px;
}

/* Output */
.outputContainer{
  margin-top: 55px;
  @include lg{
    display: flex;
    justify-content: space-between;
  }
}

.outputBox{
  position: relative;
  &__item{
    // border: 1px solid $line-color;
    box-shadow: $shadow;
  }
  &__title{
    padding: 0 10px;
    background: $base-color;
    font-size: $sp-small-title;
    border: 1px solid $line-color;
    position: absolute;
    top: -15px;
    left: 15px;
  }
}

.outputBox{
  @include sm{
    margin-top: 60px;
    &:first-of-type{
      margin-top: 40px;
    }
  }
  @include md{
    margin-top: 60px;
  }
  @include lg{
    width: 550px;
  }
}

.twitter{
  padding-top: 15px;
}

.twitter{
    height: 405px;
}

/* Profile */
.profileBox{
  &__figure{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
  }
  &__image{
    border-radius: 50%;
  }
}

/* 名前・現在の業務 */
.data{
  margin-top: 40px;
  @include lg{
    margin-left: auto;
    margin-right: auto;
  }
  &__title{
    font-size: $sp-small-title;
    margin-right: 10px;
  }
  &__annotation{
    font-size: $annotation-fz;
  }
}

.home .data{
  @include lg{
    max-width: 700px;
  }
}

.nishiaoi{
  font-size: $sp-min-title;
}

.job {
  margin-top: 20px;
  &__list{
    margin-top: 20px;
  }
  &__item{
    list-style-type: disc;
    list-style-position: inside;
    margin-bottom: 5px;
  }
  &__annotation{
    font-size: $annotation-fz;
    margin-left: 14px;
  }
  &__copy:not(:first-child){
    margin-top: 20px;
  }
}


.pointBox{
  margin: 40px 0;
  position: relative;
  background: $main-color-a-2;
  &__title{
    background: $accent-color;
    color: $base-color;
    display: inline-block;
    padding: 5px;
    position: absolute;
    top: -15px;
    left: 15px;
    &::before{
      content: "＜";
    }
    &::after{
      content: "＞";
    }
  }
  padding: 20px;
}

.pointBoxList{
  &__item{
    list-style: disc inside;
    margin-top: 20px;
    p{
      margin-top: 10px;
    }
  }
}

.linkBox{
  position: relative;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  &__copy{
    margin: 20px 0;
  }
}

/* Contact */
.contact .section__contents{
  margin-top: 20px;
}

.contactBox{
  &__image {
    width: 1.5em;
    vertical-align: middle;
  }
}

.contactBox{
  @include lg{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
}

.contact__copy{
  margin-top: 20px;
}

.contactBtnContainer{
    display: flex;
    justify-content: space-between;
  @include sm{
    display: block;
    // justify-content: space-between;
  }
}

/*----- TOP END -------*/
