/*----------------------
 Works(配下ページ)
------------------------*/
.works--under{
  .works01__copy{
    margin-top: 20px;
  }
  .worksImageBox:not(:first-of-type) .section__contents{
    margin-top: 80px;
  }
  .worksImage{
    @include md{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-start;
    }
    @include lg{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-start;
    }
  }

  .worksImage--block .worksImage__figure{
    margin-left: auto;
    margin-right: auto;
  }

  .worksImage__figure{
    margin-top: 50px;
    box-shadow: $shadow;
    @include lg{
      width: 500px;
    }
    &--sp{
      @include md{
        width: 300px;
      }
      @include lg{
        width: 250px;
      }
    }
  }

  .WorksBtnContainer{
    margin-top: 60px;
    @include md{
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: space-between;
    }
    @include lg{
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: space-between;
    }
  }
}