/*--------------------------------
 Works(配下ページ)のメインビジュアル
----------------------------------*/
.mainVisual{
  &--works01{
   background-image: url(../works/images/mv-muzicSchool.jpg);
  }
  &--works02{
   background-image: url(../works/images/mv_quiz.png);
   background-position: top center;
  }
  &--works03{
   background-image: url(../works/images/mv-fakegreen.jpg);
   background-position: top center;
  }
  &--works04{
   background-image: url(../works/images/mv_portfoliosite.jpg);
   background-position: center;
  }
  &--works05{
   background-image: url(../works/images/mv-aquarium.jpg);
  }
}

/*----------------------
 Works(配下ページ)
------------------------*/
.works--under{
  .worksBox{
    margin-bottom: 40px;
    display: flex;
  }
  .works01__copy{
    margin-top: 20px;
  }
  .worksImageBox:not(:first-of-type) .section__contents{
    margin-top: 80px;
  }
  .worksImage{
    @include md{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-start;
    }
    @include lg{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-start;
    }
  }

  .worksImage--block .worksImage__figure{
    margin-left: auto;
    margin-right: auto;
  }

  .worksImage__figure{
    margin-top: 50px;
    box-shadow: $shadow;
    @include lg{
      width: 500px;
    }
    &--sp{
      @include md{
        width: 300px;
      }
      @include lg{
        width: 250px;
      }
    }
  }

  .WorksBtnContainer{
    margin-top: 60px;
    @include md{
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: space-between;
    }
    @include lg{
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: space-between;
    }
  }

  // PCのみ、カードが2つの場合はダミーを置いて位置を調整する
  @include pc {
    .worksBox.dummy {
      visibility: hidden;
    }
  }
}