

//メインビジュアル
.mainVisiual {
  background: no-repeat center/cover;
  height: 100vh;
  position: relative;
}

.mainTitle {
  bottom: 50%;
  color: $text-bright-color;
  font-size: $main-title-fz;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translate(-50%, 50%);
  width: 100%;
  @include lg {
    bottom: 120px;
    font-size: $lg-main-title-fz;
    left: 172px;
    text-align: left;
    transform: translate(0, 0);
  }
}

.subTitle {
  display: block;
  font-size: calc(1em - 7px);
  margin-top: 50px;

  &::before,
  &::after{
    content: "～";
    width: 100%;
    height: 100%;
  }

@include lg {
    font-size: calc(1em - 28px);
  }
}

//各セクションh2（各見出し）隣の横棒

h2 {
  font-size: $section-title-fz;
  font-style: italic;

@include lg {
    font-size: $lg-section-title-fz;
  }  letter-spacing: .1em;
}

h2.bright {
  align-items: center;
  color: $text-bright-color;
  display: flex;
  justify-content: flex-end;

  &::after {
    border-top: 5px solid $line-bright-color;
    content: '';
@include lg {
      width: 200px;
    }
    margin-left: 30px;
    width: 100px;
  }
}

h2.dark {
  align-items: center;
  color: $text-color;
  display: flex;
  justify-content: flex-start;
  &::after {
    border-top: 5px solid $line-dark-color;
    content: '';
@include lg {
      width: 200px;
    }
    margin-left: 30px;
    width: 100px;
  }
}

// 各section共通
.section {
  position: relative;
  &::after {
    font-size: $section-decoration-fz;
    font-weight: bold;

@include lg {
      font-size: $lg-section-decoration-fz;
    }  position: absolute;
  }
}

.container {
  @include lg {
    margin: 0 auto;
    max-width: 1100px;
  }
}

// concept
.concept {
  @include lg {
    &::after {
      right: 120px;
      transform: translateX(-50%);
    }
  }
  margin-top: 100px;
  padding-bottom: 40px;
  position: relative;
  &::after {
    bottom: -40px;
    color: #1717170d;
    content: 'Our Concept';
    right: 15px;
  }
}

.lead {
  font-size: $lead-fz;
  font-weight: bold;

@include lg {
    font-size: $lg-lead-fz;
    margin: 60px 0;
  }  padding: 50px 0 30px 0;
  text-align: center;
}

.concept .contents {
  @include lg {
  display: flex;
    margin-bottom: 70px;
    justify-content: space-between;
  }
}

.concept .textBox {
  font-size: $default-fz;
  font-weight: bold;

@include lg {
    width: 440px;
  }  letter-spacing: .05em;
  line-height: 1.8;
}

.concept .imgBox {
  @include lg {
    margin-top: 0;
    width: 440px;
  }  margin-top: 30px;
}

// works
.works {
  margin-top: 80px;

  &::after {
    bottom: 40px;
    color: rgba(255, 255, 255, .1);
    content: 'Our Works';
    left: 15px;
  }
  @include lg {
    margin-top: 140px;
    &::after {
      bottom: 70px;
      left: 20px;
      transform: translateX(50%);
    }
  }
  
}

.worksContents {
  @include lg {
    display: flex;
    margin: 80px 0;
  }
}

.bgiBox {
  background: url('../images/works-bgi_2x.jpg') no-repeat center/cover;
  padding: 100px 0 140px 0;
@include lg {
    padding: 100px 0 280px 0;
  }
}

.works h2 {
  margin-bottom: 50px;
}

.worksBox {
  background: #fff;
  margin: 0 auto 30px;
  width: 320px;
}

.worksBox .textBox {
  padding: 25px 20px 53px;
}


// service
.service {
  margin-top: 100px;
  &::after {
    bottom: -80px;
    color: #1717170d;
    content: 'Our Service';
    right: 15px;
  }
  @include lg {
    padding-bottom: 40px;
    &::after {
      bottom: -40px;
      right: 15px;
      transform: translateX(-50%);
    }
  }
}

.serviceContents {
  @include lg {
    display: flex;
    margin: 80px 0;
  }
}

.serviceBox:first-of-type {
@include lg {
    margin-top: 0;
  }
  margin-top: 80px;
}

.serviceBox {
  height: 250px;
@include lg {
    height: 320px;
    margin: 0;
    width: 33.33%;
  }
  position: relative;
}

.serviceText {
  color: $text-bright-color;
  font: italic bold $lead-fz 'Noto Serif', serif;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  background: rgba(40, 47, 53, 0.5);
  padding: 0 10px 10px 10px;
  @include lg {
    font-size: $lg-service-fz;
  }
}

.serviceBox01 {
  background: url(../images/service-img01_2x.jpg) no-repeat center/cover;
}
.serviceBox02 {
  background: url(../images/service-img02_2x.jpg) no-repeat center/cover;
@include lg {
    margin: 0;
  }
  margin: 30px 0;
}
.serviceBox03 {
  background: url(../images/sevice-img03_2x.jpg) no-repeat center/cover;
}

// contact
.contact {
  background: url(../images/contact-bgi_2x.jpg) no-repeat center/cover;
  height: 485px;
  margin-top: 64px;
  margin-top: 135px;

  &::after {
    bottom: 60px;
    color: rgba(255, 255, 255, .1);;
    content: 'Contact us';
    left: 15px;
  }

  .container {
    height: 485px;
  }
}

.contact h2 {
  padding: 100px 0 80px;
}

.contact p {
  color: $text-bright-color;
  font-size: $lead-fz;
  padding: 0 0 30px;
  text-align: center;
}

// footer
.footer {
  padding: 30px 56px;
  text-align: center;
}